/*
    Z-INDEX MAP

    .signin - 99
    header, footer - 20
*/
:root {
    --bgColor: rgb(19, 31, 34);
    --bgTwoColor: rgb(32, 47, 54);
    --bgThreeColor: rgb(55, 70, 79);
    --whiteColor: rgb(245, 245, 245);
    --mainColor: rgb(88, 204, 2);
    --mainTwoColor: rgb(147, 211, 51);
    --grayColor: #51646b;
    --grayTwoColor: #37464f;
    --blueColor: #1cb0f6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    background-color: var(--bgColor);
    scroll-behavior: smooth;
    overflow-x: hidden; 
    color: var(--whiteColor);
    transition-duration: 500ms;
}
.logo {
    position: fixed;
    top: 20vh;
    left: calc(100vw - 87px - 50vw);
}
.description {
    position: fixed;
    top: 50vh;
    text-align: center;
    width: 100vw;
}
.description > h2 {
    color: var(--mainTwoColor);
    font-family: 'Fredoka One', cursive;
}
.description > p {
    margin-top: 20px;
    color: var(--grayColor);
    font-size: 0.9rem;
}
.btn {
    box-sizing: border-box;
    display: block;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 9px;
    font-size: 0.7rem;
    background-color: var(--mainTwoColor);
    color: var(--bgColor);
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 900;
    border-bottom: 3px solid var(--mainColor);
    transition-duration: 500ms;
    text-align: center;
}
.btn-cl {
    display: block;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid var(--grayColor);
    border-radius: 9px;
    font-size: 0.7rem;
    background-color: var(--bgColor);
    color: var(--mainTwoColor);
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 900;
    border-bottom: 3px solid var(--grayColor);
    text-align: center;
}
.btn-gray {
    display: block;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin: 10px;
    border: 2px solid var(--bgThreeColor);
    border-radius: 9px;
    font-size: 0.7rem;
    background-color: var(--bgThreeColor);
    color: var(--grayColor);
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 900;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--mainColor);
    border-bottom: 3px solid var(--mainTwoColor);
}
.singin {
    display: flex;
    color: var(--grayColor);
    position: fixed;
    z-index: 99;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bgColor);
    text-align: center;
    flex-direction: column;
}
.resetPass {
    display: flex;
    color: var(--grayColor);
    position: fixed;
    z-index: 99;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bgColor);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}
.inp {
    display: block;
    font-size: 0.8rem;
    background-color: var(--bgTwoColor);
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: none;
    text-align: left;
    padding: 10px 0;
    font-weight: 500;
    padding-left: 15px;
    color: var(--blueColor);
    outline: none;
    transition-duration: 500ms;
}
.inp:focus {
    font-size: 1rem;
    background-color: rgb(19, 24, 27);
}
.closeShowSignin {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.signinInputs {
    border: 1px solid var(--grayColor);
    width: 96vw;
    margin-left: 2vw;
    border-radius: 9px;
    margin-top: 20px;
}
.signinInputs input {
    display: block;
    font-size: 0.8rem;
    background-color: var(--bgTwoColor);
    border: none;
    width: 100%;
    margin-left: 0;
    text-align: left;
    padding: 10px 0;
    font-weight: 500;
    padding-left: 15px;
    color: var(--grayColor);
    outline: none;
}
::-webkit-input-placeholder { 
    color: var(--grayColor);
}
.link {
    display: block;
    color: var(--blueColor);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 800;
}
.viewPass {
    position: absolute;
    width: 25px;
    right: 30px;
    top: 102.5px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    align-items: center;
    border-top: 1px solid var(--grayColor);
    z-index: 20;
    background-color: var(--bgColor);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 30px;
    align-items: center;
    border-bottom: 2px solid var(--grayColor);
    z-index: 20;
    background-color: var(--bgColor);
}
header .lives img {
    height: 26px;
    padding-top: 2px;
    padding-left: 5px;
    animation: heart 1.8s infinite;
}
@keyframes heart {
    0% {
        height: 26px;
    }
    20% {
        height: 20px;
    }
    30% {
        height: 25px;
    }
    40% {
        height: 20px;
    }
    60% {
        height: 26px;
    }
    100% {
        height: 26px;
    }
}
.footerElement {
    padding: 10px;
    color: var(--grayColor);
}
.footerElement img {
    height: 40px;
}
.content {
    position: fixed;
    top: 31px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 31px - 62px);
    overflow-y: auto;
}
.container {
    display: flex;
    justify-content: center;
}
.level {
    width: 100px;
    height: 100px;
    border: 3px solid var(--grayColor);
    border-radius: 100px;
    padding: 3px;
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
    margin: 10px;
}